__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.search.json

# Compiled objects
*.so

# IDEs
.idea/
.vscode/

# OS
.DS_Store
.env

# Poetry
.venv/